<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <!-- Текст пользователя -->
        <span class="navbar-text text-light me-auto">
       <strong th:text="${#authentication.getName()}"></strong> with roles:
       <span th:text="${#strings.arrayJoin(#authentication.getAuthorities().toArray(), ', ')}"></span>
   </span>

        <!-- Кнопка Logout -->
        <form action="/logout" method="post" th:action="@{/logout}" class="d-flex">
            <button class="btn btn-dark">Logout</button>
        </form>
    </div>
</nav>

<div class="row no-gutters">
    <!-- Боковая панель -->
    <div class="col-md-2 col-lg-2 d-md-block sidebar collapse">
        <div class="position-sticky pt-3">
            <ul class="nav nav-pills flex-column mb-auto">
                <!-- Вкладка Admin  -->
                <li class="nav-item" sec:authorize="${hasRole('ADMIN')}">
                    <a href="/admin/" class="nav-link active">Admin</a>
                </li>

                <!-- Вкладка User -->
                <li class="nav-item">
                    <a href="/user" class="nav-link">User</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Основна -->
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-light">
        <h1 class="mt-3">Admin page</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="users_table_card">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" id="new_user_card">New user</a>
            </li>
        </ul>

        <div class="card firstCard" style="display: block">
            <div class="card-header font-weight-bold h5">All users</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">


                    <div class="panel-body">


                        <table class="table table-light table-striped">

                            <thead>
                            <tr>

                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>

                            </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>

                        <hr/>

                    </div>
                </ul>
            </div>
        </div>


        <div class="card secondCard" style="display: none">
            <div class="card-header font-weight-bold">Add new user</div>
            <div class="card-body align-items-center">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <form class="text-center form-new-user">
                            <div class="form-group">

                                <label class="col-form-label font-weight-bold" for="Username">Username
                                </label>
                                <input type="text" class="col-6 offset-3 form-control" id="Username"
                                       name="username" placeholder="Username"/>
                            </div>
                            <div class="form-group text-center">
                                <label class="col-form-label font-weight-bold" for="E-mail">E-mail
                                </label>
                                <input type="email" class="col-6 offset-3 form-control" id="E-mail" name="email"
                                       placeholder="E-mail"/>
                            </div>
                            <div class="form-group text-center">
                                <label class="col-form-label font-weight-bold">Password</label>
                                <input type="password" class="col-6 offset-3 form-control" id="Password"
                                       name="password" placeholder="Password"/>
                            </div>

                            <label class="col-form-label font-weight-bold" for="roles">Roles</label>
                            <select multiple size="2" class="col-6 offset-3 form-control" id="roles"
                                    name="roles">
                                <option value="1">Admin</option>
                                <option value="2">User</option>
                            </select>
                            <br/>
                            <button class="btn btn-success btn-lg" id="addNewUserBtn" type="button">Add new
                                user
                            </button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-6 insertModal"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="editInfo">Edit</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src=/main.js></script>
</body>